body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board-row {
  display: flex;
}

.square {
  display: flex;
  border: 1px solid #999;
  width: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.square:focus {
  outline: none;
}
